<meta charset="UTF-8">
<title>Skribruh</title>
<link rel="icon" type="image/png" href="/storage/img/icon.jpg"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.css">
<link rel="stylesheet" href="/css/index.css">
<meta content="width=device-width, initial-scale=1" name="viewport" />