<div class="sidebar">
  <div class="sidebar-logo-container">
    <a class="sidebar-logo" href="/admin">
      <img class="sidebar-logo-img" src="/storage/app/logo.png" alt="" />
      <p class="sidebar-logo-text">Chameleon</p>
    </a>
  </div>

  <div class="sidebar-content">
    <a class="sidebar-item" href="/admin">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-home sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Trang chủ</p>
    </a>
    <a class="sidebar-item" href="/admin/anime?page=1">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-film sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Anime</p>
    </a>
    <a class="sidebar-item" href="/admin/facebook">
      <div class="sidebar-item-icon-container">
        <i class="fab fa-facebook-square sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Facebook</p>
    </a>
       <a class="sidebar-item" href="/admin/ztest">
      <div class="sidebar-item-icon-container">
        <i class="fab fa-facebook-square sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Ztest</p>
    </a>
      <a class="sidebar-item" href="/admin/hydrax">
      <div class="sidebar-item-icon-container">
        <i class="sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Hydrax</p>
    </a>


    
    <a class="sidebar-item" href="/admin/team">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-users sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Nhóm dịch</p>
    </a>

    <a class="sidebar-item" href="/admin/part">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-democrat sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Part</p>
    </a>
    <a class="sidebar-item" href="/admin/schedule">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-calendar sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Lịch chiếu phim</p>
    </a>
    <a class="sidebar-item" href="/admin/slider">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-stream sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Slider</p>
    </a>
    <a class="sidebar-item" href="/admin/server">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-server sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Server</p>
    </a>
    <a class="sidebar-item" href="/admin/notify">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-bullhorn sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Thông báo</p>
    </a>
    <a class="sidebar-item" href="/admin/user/1?page=1">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-user sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">User</p>
    </a>
    <a class="sidebar-item" href="/admin/role">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-user-tag sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Vai trò</p>
    </a>
    <a class="sidebar-item" href="/admin/resource">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-puzzle-piece sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Resource</p>
    </a>
    <a class="sidebar-item" href="/admin/permission">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-check sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Permission</p>
    </a>
        <a class="sidebar-item" href="/admin/audience">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-child sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Audience</p>
    </a>
    <a class="sidebar-item" href="/admin/genres">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-list sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Thể loại</p>
    </a>
    <a class="sidebar-item" href="/admin/type">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-tv sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Tv - Movie</p>
    </a>
    <a class="sidebar-item" href="/admin/producer">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-video sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Nhà sản xuất</p>
    </a>
    <a class="sidebar-item" href="/admin/nation">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-globe-asia sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Quốc gia</p>
    </a>
    <a class="sidebar-item" href="/admin/season">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-leaf sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Mùa</p>
    </a>
    <a class="sidebar-item" href="/admin/days">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-cloud-sun-rain sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Ngày</p>
    </a>
     <a class="sidebar-item" href="/admin/year">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-clock sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Năm</p>
    </a>
    <a class="sidebar-item" href="/admin/status">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-battery-half sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Trạng thái</p>
    </a>
    <a class="sidebar-item" href="/admin/score-time">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-clock sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Thời gian score</p>
    </a>
    <a class="sidebar-item" href="/admin/view-time">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-clock sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Thời gian view</p>
    </a>
    <a class="sidebar-item" href="/admin/">
      <div class="sidebar-item-icon-container">
        <i class="fa fa-home sidebar-item-icon"></i>
      </div>
      <p class="sidebar-item-text">Trang chủ</p>
    </a>
  </div>
</div>


