html{
  width:100vw;
  height:100vh;
}
body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  font-family: tahoma;
   background-image: url("/storage/img/background.jpg");
   display: flex;
   flex-direction: column;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h1,
h2,
h3 {
  margin: 0;
}
.content {
  display: flex;
  width:99%;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.word-container{
  width: 100%;
  min-height: 50px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
    margin: 10px 0;
}
.word-text{
    font-weight: bold;
  font-size: 30px;
}

.time-and-round{
  position: absolute;
  left: 10px;
  display: flex;
}
.time-container{
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  position: relative;
}

.time-text{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.round{
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.play-container{
  display: flex;
  width:100%;
  height:100%;
  max-height: 435px;
  align-items: center;
  justify-content: space-between;
}

.header{
  width: 100%;
  max-height: 100px !important;
}

.logo{
  width: 350px;
  height: 100px;
  object-fit: cover;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.left{
  width: 20%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.users-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.vote-kick
{
  display: none;
  width: 100%;
  text-align: center;
  background-color: red;
  padding: 5px 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.user-item{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-img{
  width: 40px;
  height: 50px;
  object-fit: cover;
}
.rank{
    font-size: 17px;
  font-weight: bold;
}
.user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-name{
  font-weight: bold;
  font-size: 14px;
}

.center{
  width: 48%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.right{
  width: 30%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.whiteboard {
  height: 100%;
  width: 100%;
  /* cursor: url("/storage/img/cursor.png"),auto; */
}
.colors{
  display: none;
  align-items: center;
}

.color{
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.black{
  background-color: black;
}
.yellow{
  background-color:yellow;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.lightblue{
  background-color: lightblue;
}
.white{
  background-color: white;
}
.orange{
  background-color: orange;
}

.messages { 
  margin: 0; 
  padding: 0; width: 100%;
  height: 90%; 
  background-color: white; 
  overflow-y: auto; 
}

.game_start_modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:3;
  -webkit-animation: movedown 1.5s ease-out forwards;
  -moz-animation: movedown 1.5s ease-out forwards;
  -ms-animation: movedown 1.5s ease-out forwards;
  animation: movedown 1.5s ease-out forwards;
  animation-name:"movedown";
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes movedown {
    0% {
        opacity: 0;
        top:-100%;
    }
    40% {
      opacity: 1;
        top:50%;
    }
    70%{
      opacity: 1;
        top:50%;
    }
    100%{
      opacity: 0;
      top: 100%;
    }
}
@-webkit-keyframes movedown {
    0% {
        opacity: 0;
        top:-100%;
    }
    50% {
      opacity: 1;
        top:50%;
    }
     70%{
      opacity: 1;
        top:50%;
    }
    100%{
      opacity: 0;
      top: 100%;
    }
}
@-moz-keyframes movedown {
   0% {
        opacity: 0;
        top:-100%;
    }
    50% {
      opacity: 1;
        top:50%;
    }
     70%{
      opacity: 1;
        top:50%;
    }
    100%{
      opacity: 0;
      top: 100%;
    }
}
@-ms-keyframes movedown {
    0% {
        opacity: 0;
        top:-100%;
    }
    50% {
      opacity: 1;
        top:50%;
    }
     70%{
      opacity: 1;
        top:50%;
    }
    100%{
      opacity: 0;
      top: 100%;
    }
}


.words-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  z-index:3;
  -webkit-animation: movedown2 0.5s ease-out forwards;
  -moz-animation: movedown2 0.5s ease-out forwards;
  -ms-animation: movedown2 0.5s ease-out forwards;
  animation: movedown2 0.5s ease-out forwards;
  animation-name:"movedown2";
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@keyframes movedown2 {
    0% {
        opacity: 0;
        top:-100%;
    }
    100%{
      opacity: 1;
      top: 23%;
    }
}
@-webkit-keyframes movedown2 {
    0% {
        opacity: 0;
        top:-100%;
    }
    100%{
      opacity: 1;
      top: 23%;
    }
}
@-moz-keyframes movedown2 {
   0% {
        opacity: 0;
        top:-100%;
    }
    100%{
      opacity: 1;
      top: 23%;
    }
}
@-ms-keyframes movedown2 {
  0% {
        opacity: 0;
        top:-100%;
    }
    100%{
      opacity: 1;
      top: 23%;
    }
}

.word{
  padding: 5px 10px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.center-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232223;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-message{
  color: white;
  font-weight: bold;
  font-size: 16px;
}


.round-result{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: movedown3 0.5s ease-out forwards;
  -moz-animation: movedown3 0.5s ease-out forwards;
  -ms-animation: movedown3 0.5s ease-out forwards;
  animation: movedown3 0.5s ease-out forwards;
  animation-name:"movedown3";
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.result-word{
  font-weight: bold;
  font-size: 17px;
}

.result-scores{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-score-item{
  width: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes movedown3 {
    0% {
        opacity: 0;
        top:-100%;
    }
    100%{
      opacity: 1;
      top: 50%;
    }
}
@-webkit-keyframes movedown3 {
    0% {
        opacity: 0;
        top:-100%;
    }
    100%{
      opacity: 1;
      top: 50%;
    }
}
@-moz-keyframes movedown3 {
    0% {
        opacity: 0;
        top:-100%;
    }
    100%{
      opacity: 1;
      top: 50%;
    }
}
@-ms-keyframes movedown3 {
    0% {
        opacity: 0;
        top:-100%;
    }
    100%{
      opacity: 1;
      top: 50%;
    }
}

.game-result-container{
  width: 70%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.top-users{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-users{
  display: flex;
  align-items: center;
}


.top-user{
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-rank{
  font-weight: bold;
  font-size: 20px;
}

.top-user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-user-img{
  width: 50px;
  height: 60px;
  object-fit: cover;
}

.top-user-name{
  font-size: 16px;
  font-weight: bold;
}

.bottom-user{
  display: flex;
  align-items: center;
}

.bottom-rank{
  font-weight: bold;
  font-size: 14px;
}

.bottom-user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-user-img{
  width: 30px;
  height: 40px;
  object-fit: cover;
}

.bottom-user-name{
  font-size: 12px;
  font-weight: bold;
}

.kick-container{
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: movedown3 0.5s ease-out forwards;
  -moz-animation: movedown3 0.5s ease-out forwards;
  -ms-animation: movedown3 0.5s ease-out forwards;
  animation: movedown3 0.5s ease-out forwards;
  animation-name:"movedown3";
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.kick-message{
  font-size: 14px;
  margin: 0;
}

.kick-close{
  position: absolute;
  top: 5px; 
  right: 5px;
  cursor: pointer;
}

