<!DOCTYPE html>
<html lang="en">
<head>    
    <%- include('../../partials/head')%>
     <link rel="stylesheet" href="/css/home/index.css">
</head>

<body>
    <div class="content">
        <div class="user-form">
            <input class="user-name form-control" type="text">
            <button class="btn btn-primary">Play!</button>
            <button class="btn btn-success">Create room</button> 
        </div>

    </div>
</body>
<%- include('../../partials/foot') %>
</html>